<!DOCTYPE html>
<html lang="en">
<head>
  <!-- == Header Starts here == -->
      <% include partials/header.ejs %>
   <!-- == Header End == -->
</head>
<body>

<div class="container-fluid">
     <!-- == Navigation Bar Start == -->
      <div class="header clearfix">
          <nav class="navbar navbar-expand-md navbar-light fixed-top md-light" style="background-color: #e3f2fd;">
              <a class="navbar-brand" href="/">Crypto2Price</a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav mr-auto">
                          <li class="nav-item"><a class="nav-link" href="#">About Us</a></li>
                  </ul>
                  <div class="form-inline my-2 my-lg-0">
                      <ul class="navbar-nav mr-auto">
                          <% if(username.length > 0){ %>
                              <li class="nav-item"><a class="nav-link" href="/logout">Logout</a></li>
                          <% } %>
                          <% if(username.length <= 0){ %>
                              <li class="nav-item"><a class="nav-link" href="/login">Login</a></li>
                              <li class="nav-item"><a class="nav-link" href="/signup">Register</a></li>
                          <% } %>
                      </ul>
                  </div>
              </div>
          </nav>
          <div class="container" style="margin-top: 50px;">
            <center><img src="/img/bitcoin.gif"></center>
          </div>

      </div>
      <!-- == Navigation Bar End == -->

      <!-- == Error Messages == -->
      <div class="container">
        <div class="col-lg-12">
          <% if(success_msg.length > 0){ %>
            <div class="alert alert-success"><%= success_msg %> </div>
          <% } %>

          <% if(error_msg.length > 0){ %>
            <div class="alert alert-danger"><%= error_msg %> </div>
          <% } %>

        </div>
      </div>
      <!-- == Error Messages End == -->

 <!-- == Main body starts here == -->

  <center><h3>Top 20 Cryptocurrencies by Market Capitalization</h3></center>

  <table class="table table-hover table-dark" style="margin-top: 20px;">
    <thead>
      <tr>
        <th scope="col" style="color:#007bff;"> # </th>
        <th scope="col" style="color:#007bff;"> Name </th>
        <th scope="col" style="color:#007bff;"> Market Capacity </th>
        <th scope="col" style="color:#007bff;"> Price </th>
        <th scope="col" style="color:#007bff;"> Prediction </th>
        <th scope="col" style="color:#007bff;"> Price Graph </th>
      </tr>
    </thead>

    <tbody>

      <% var i; var count=1; var img_no=0; %>

<% for (var key in coinlist) { %>
      <%i= coinlist[key] %>
      <% img_no = img_no % 5; %>
      <%
        var marketcap,nStr,price_value;
        nStr = prices[i]['USD']['MKTCAP'];
        price_value = prices[i]['USD']['PRICE'];
        nStr += '';
        price_value += '';

        var x,y;

        x = nStr.split('.');
        y = price_value.split('.');

        var x1,y1;

        x1 = x[0];
        y1 = y[0];

        var x2,y2;

        x2 = x.length > 1 ? '.' + x[1] : '';
        y2 = y.length > 1 ? '.' + y[1] : '';

        var rgx = /(\d+)(\d{3})/;
        while (rgx.test(x1)) {
         x1 = x1.replace(rgx, '$1' + ',' + '$2');
        }

        rgx = /(\d+)(\d{3})/;
        while (rgx.test(y1)) {
         y1 = y1.replace(rgx, '$1' + ',' + '$2');
        }

        marketcap =  x1 + x2;
        price_value = y1 + y2;

      %>

      <tr>
        <th scope="row"><%= count %></th>
        <td><%= coinnames[count-1] %></td>
        <td>$<%= marketcap %></td>
        <td>$<%= price_value %></td>
        <td>--</td>
        <td><a href="/charts/chartshow/<%= coinlist[count-1] %>"><img src="/img/fig<%=img_no%>.png" style="border: 2px solid green;"></a></td>
      </tr>

      <% count = count+1; img_no = img_no+1;%>
      <% if(count == 21){ break;} %>

<% } %>

    </tbody>
  </table>

<!-- == Footer starts here == -->
    <% include partials/footer.ejs %>
<!-- == Footer ends here == -->

    </div>

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <!--HighChart JS file-->
    <script src="https://code.highcharts.com/highcharts.js"></script>


</body>
</html>
